<html>
<head>
<title>
Termination Agreement
</title>
</head>

<body>
<h1> Termination Agreement </h1>


      <form action = "" method = "POST">
      <h2> Contract Number </h2>
      <p> <input type = "text" name = "contract_number" value="34545"/></p>
      	<h2> Assigner 1 Details </h2>
         <p>Name <input type = "text" name = "name_assigner" /></p>
         <p>Public Key <input type = "text" name = "public_key_assigner" /></p>

		<h2> Assignee 1 Details </h2>
         <p>Name <input type = "text" name = "name_assignee" /></p>
         <p>Public Key <input type = "text" name = "public_key_assignee" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>

</html>