<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>

		<title>Law Firms: Brief Information</title>
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='default.css') }}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='component.css') }}" />
		<script type=text/javascript src="{{url_for('static', filename='modernizr.custom.js') }}"></script>
		
	</head>
	<body>
		<div class="container">
			<header class="clearfix">
				<span>Law Firms</span>
				<h1>Brief Info about law firms</h1>
				<nav>
					<a href="index.html" class="icon-arrow-left" data-info="previous page">Previous Page</a>
          <a href="index3.html" class="icon-arrow-right" data-info="next page">Next page</a>
				</nav>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>

						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel">
							<h2><a href="http://www.khannaandassociates.com/">Khanna and Associates</a></h2>
							<p>KHANNA & ASSOCIATES is a full service Law Firm handling all legal matters on Civil, Criminal, Business, Commercial, Corporate, Arbitration , Labor & Service subjects in law, in all courts as well  as Tribunals. An individualized service by members with decades of experience ensures total satisfaction to the clients.
								The firm relies on the latest computing and communications equipment to enable fast and cost effective services to clients. It makes complete usage of a practical and effective precedent development system to ensure uniformity and time management. The firm has adapted itself successfully to the modern day demands of global competitiveness and competence.</p>
						</div>
					</li>
					<li>
						<div class="cbp_tmicon cbp_tmicon-screen"></div>
						<div class="cbp_tmlabel">
							<h2><a href="http://www.vedantalawchambers.com/">Vedanta Law chambers</a></h2>
							<p>VEDANTA LAW CHAMBERS believes in a multidisciplinary approach and includes chartered accountants, a certified treasury manager and a few company secretaries in addition to each of them being attorneys. The firm is staffed by highly skilled and trained legal professionals and have experience in both Indian and international environments. We are known for “acting in the best interests of our clients” and we work on bringing down unnecessary or avoidable legal costs through innovation and forward thinking.</p>
						</div>
					</li>
					<li>
						<div class="cbp_tmicon cbp_tmicon-mail"></div>
						<div class="cbp_tmlabel">
							<h2><a href="http://amicuspublico.com/">Amicus Publico</a></h2>
							<p>Amicus Publico is a full service Leading Indian law firm and gives specialized legal representation to local, regional, national law and International law. It represents a wide variety of national businesses and local entities in regulated and other aspects of their operations.Law Firm’s professional experts in diverse fields constitute its strength. Law Firm’s member Attorney are committed to provide quality legal services in India and aboard with a client centered and result-oriented approach to the practice and further committed to follow the highest standard of fair practice and ethics. Amicus Publico works closely with each & every client to understand the practical aspects of the clients business.</p>
						</div>
					</li>
					<li>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel">
							<h2><a href="http://thelawdesk.org/">Thelawdesk</a></h2>
							<p>THE LAW DESK is a law firm growing in the Northern - West part of India, which delivers its best of services in matter of trust, efficiency, and satisfaction, to its clients of various sectors. We believe that we grow with the growing satisfaction of our clients in the work they entrust us. This leads us to make further developments and explorations in different avenues of law.</p>
						</div>
					</li>
					<li>
						<div class="cbp_tmicon cbp_tmicon-earth"></div>
						<div class="cbp_tmlabel">
							<h2><a href="http://www.kasliwallawassociates.com/">P K KASLIWAL & ASSOCIATES</a></h2>
							<p>P.K. Kasliwal & Associates was formally established in 1981 and today its a a leading organization in the fields of corporate, taxation, patents, trademarks and industrial. The firm is on the panel of various government organizations, insurance companies, banks and public and private corporates including several MNCs. We have successfully solved several key matters related to civil, criminal, tax arbitration and economic offences and have been regularly quoted in leading newspapers and journals.</p>
						</div>
					</li>
					<li>
						<div class="cbp_tmicon cbp_tmicon-screen"></div>
						<div class="cbp_tmlabel">
							<h2><a href="http://www.legalsquare.co.in/">The Legal Square Lawfirm</a></h2>
							<p>Legal Square is one of India's leading law firms with offices in New Delhi, Gurgaon, Chandigarh, & Jaipur. The Firm acts as outside counsel to a wide spectrum of legal entities, including key players in major industries, financial institutions, public authorities and investment funds. We work with vision passion integrity clarity and commitment.</p>
						</div>
					</li>
					<li>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel">
							<h2><a href="http://gdbansallegal.com/">GD Bansal & Associates</a></h2>
							<p>G.D.BANSAL & ASSOCIATES was established in 1995, since then it has been providing a wide range of professional and few mainstream services related to Intellectual Property Rights, Alternative Dispute Resolution, Real Estate and Infrastructure, Tax, Labor and Employment to its clients. With over 22 years of legacy, we introduce excellence that is powered by our team of experts covering an entire service hemisphere in the IP domain which is hierarchically engineered for the optimization of understanding the needs of our clients. We bring in the right and prompt response keeping in view of the relevance factor to our clients. Our legions of clientele enjoy the multitude of IP services including other legal services. We serve end to end IP services in the legal disciplines of Copyrights, Trademarks and Patents.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
